<footer class="site-footer text-center">
  <h3 class="screen-reader-text">Site Footer</h3>
  <div class="footer_wrapper">
    <div class="container">
      <div class="second_footer has_first_footer row">
        <div class="col-md-12">
          <div class="second_footer_content_wrapper footer_credits"> © 2017 Tüm Hakları Saklıdır. </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- .site-footer -->
