<!-- top menu area -->
<div class="top_menu_wrapper">
  <div class="container">
    <div class="mobile_menu_button"> <span class="mobile_menu_text">Menu</span> <span>-</span><span>-</span><span>-</span> </div>
    <div class="top_header_items_holder">
      <div class="main_menu pull-left">
        <div class="main_nav">
          <ul id="menu-main" class="nav navbar-nav">
            <li><%= link_to "Anasayfa", root_path %></li>
            <li><a href="../posts/hakkimda.html">Hakkımda</a>  </li>
            <li><%= link_to "İletişim" ,root_path%> </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end .top_header_items_holder -->
  </div>
</div>
<!-- top menu area -->
